<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Команда 3</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    <div class="title-box">
        Инструмент по анализу рисков для франшизы фаст-фуд
    </div>
    
    <nav>
        <a class="nav-button" href="/">Меню</a>
        <a class="nav-button" href="/user">Пользователь</a>
        <a class="nav-button" href="/owner">Правообладатель</a>
        <a class="nav-button" href="/glossary">Глоссарий</a>
    </nav>
</header>

<div class="footer">
    <div class="footer-box"> 
        Сделано в 2025 году | Подготовила проект Команда 3
    </div>
</div>

<script src="/static/script.js"></script>

</body>
</html>
