<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПроФраншиза</title>
    <link rel="stylesheet" href="/static/style_user.css">
</head>
<body>

<header>
    <div class="title-box">
        ПроФраншиза
    </div>
    
    <nav>
        <a class="nav-button" href="/">Меню</a>
        <a class="nav-button" href="/user">Пользователь</a>
        <a class="nav-button" href="/owner">Правообладатель</a>
        <a class="nav-button" href="/glossary">Глоссарий</a>
    </nav>
</header>

<main>
    <section class="content-wrapper">
        <h1 class="section-title">Выберите тип анализа </h1>
        <div class="options-grid">
            <a href="/contract" class="analysis-card">
                <div class="card-icon">📄</div>
                <h3 class="card-title">Договорный анализ</h3>
                <p class="card-description">Проверка юридических рисков и условий договора</p>
                <div class="card-arrow">→</div>
            </a>
            
            <a href="/economic" class="analysis-card">
                <div class="card-icon">📊</div>
                <h3 class="card-title">Экономический анализ</h3>
                <p class="card-description">Оценка финансовых показателей и рыночных рисков</p>
                <div class="card-arrow">→</div>
            </a>
        </div>
        <p>*Материал, размещенный на Сайте, носит информационный характер</p>
    </section>

    <div class="content-wrapper">
        <h1>Внедоговорные риски в договоре коммерческой концессии (франчайзинга) для Франчайзи</h1>
        
        <p>По законодательству предприниматель несет ответственность не только за свой бизнес, но и за тех, с кем компания работает, — за своих контрагентов, поэтому</p>
        
        <ol>
            <li>
                <strong>Проверьте своего контрагента на:</strong>
                <ul>
                    <li><span class="mark">статус вашего контрагента;</span></li>
                </ul>
                
                <p>проверить можно на сайте ЕГРЮЛ/ЕГРИП — <a href="https://egrul.nalog.ru/index.html" class="underline">https://egrul.nalog.ru/index.html</a></p>
                
                <p>В первую очередь нужно запросить выписку из ЕГРЮЛ или ЕГРИП, в поисковой строке указываем нужную информацию для поиска контрагента</p>
                
                <div class="image-container">
                    <img src="/static/Picture1.jpg" alt="Поиск в ЕГРЮЛ" class="content-image" style="width: 90%; height: auto;">
                </div>
                
                <p>Находим нужного контрагента и скачиваем выписку</p>
                
                <div class="image-container">
                    <img src="/static/Picture2.jpg" alt="Поиск в ЕГРЮЛ" class="content-image" style="width: 90%; height: auto;">
                </div>
                
                <p>Открываем выписку и пролистываем её. Смотрим на причины внесения изменений в выписку ЕГРЮЛ/ЕГРИП</p>
                
                <div class="image-container">
                    <img src="/static/Picture3.jpg" alt="Поиск в ЕГРЮЛ" class="content-image" style="width: 90%; height: auto;">
                </div>
                
                <p>Замечаем, что у этой компании определен конкурсный управляющий, значит этот контрагент находится в стадии банкротства. Заключать договоры с ним нельзя!</p>
                
                <div class="image-container">
                    <img src="/static/Picture4.jpg" alt="Поиск в ЕГРЮЛ" class="content-image" style="width: 90%; height: auto;">
                </div>
                
                <p>Также из выписки ЕГРЮЛ/ЕГРИП можно узнать:</p>
                
                <ul>
                    <li>находится ли ваш контрагент в стадии ликвидации или реорганизации - для юр. лиц. В том случае заключать договор нельзя!</li>
                    <li>зарегистрировано ли физ. лицо, ваш контрагент, в качестве ИП. Если контрагент просто физ. лицо, не зарегистрированный в качестве ИП, то заключить договор франчайзинга нельзя!</li>
                </ul>
                
                <p>Полный список, сведений о контрагенте, который содержится в выписке, можно посмотреть в п. 1, 2 ст. 5 Федерального закон № 129-ФЗ "О государственной регистрации юридических лиц и индивидуальных предпринимателей"</p>
                
                <p>Если после проверки выписки контрагент оказался чист, проверяем дальше</p>
                
                <ul>
                    <li><span class="mark">наличие исполнительных производств;</span></li>
                </ul>
                
                <p>в этом поможет банк данных исполнительных производств ФССП (Федеральной службы судебных приставов) — <a href="https://fssp.gov.ru/iss/ip" class="underline">https://fssp.gov.ru/iss/ip</a></p>
                
                <p>Если у компании есть неисполненные судебные решения (особенно крупные), это может говорить о недобросовестном поведении (например, уклонение от оплаты, фиктивные сделки и др.)</p>
                
                <ul>
                    <li><span class="mark">участие в судебных спорах;</span></li>
                </ul>
                
                <p>У контрагента могут быть споры с другими франчайзи, поставщиками, партнерами и пр. Посмотреть, с кем и по какому поводу судился контрагент и какое решение вынесли, можно в картотеке судебных дел — <a href="https://kad.arbitr.ru/" class="underline">https://kad.arbitr.ru/</a></p>
                
                <ul>
                    <li><span class="mark">наличие у Франчайзера права использовать конкретный товарный знак;</span></li>
                </ul>
                
                <p>Сайт Роспатента, где можно проверить регистрацию товарного знака — <a href="https://searchplatform.rospatent.gov.ru/trademarks" class="underline">https://searchplatform.rospatent.gov.ru/trademarks</a></p>
                
                <p class="warning">Если Франчайзер не зарегистрировал свой товарный знак в Роспатенте, то продавать ему вам нечего.</p>
                
                <ul>
                    <li><span class="mark">нахождение вашего контрагента в стадии банкротства;</span></li>
                </ul>
                
                <p>Вы — предприниматель или юрлицо, который хочет купить готовый бизнес. Не всегда известность франшизы — показатель ее успешности. Компания и ее точки могут быть убыточными, даже если бренд популярный, поэтому проверьте не банкрот ли ваш контрагент.</p>
                
                <p>в этом поможет — <a href="https://bankrot.fedresurs.ru/?ID=82" class="underline">https://bankrot.fedresurs.ru/?ID=82</a></p>
                
                <p class="warning">Заключать договоры с компанией, которая уже находится в процессе банкротства, крайне рискованно.</p>
                
                <ul>
                    <li><span class="mark">наличие сведений о причастности контрагента к экстремистской деятельности или терроризму;</span></li>
                </ul>
                
                в этом поможет — <a href="https://www.fedsfm.ru/documents/terr-list" class="underline">https://www.fedsfm.ru/documents/terr-list</a>
                
                <p>ФЗ-115 «О противодействии легализации (отмыванию) доходов, полученных преступным путем, и финансированию терроризма» обязывает компании проверять контрагентов на связи с терроризмом.</p>
                
                <p class="warning">Если контрагент имеет связь с экстремизмом или терроризмом, связываться с ним очень рискованно.</p>
                
                <p>Однако, помните, никто не даст гарантий, что бизнес будет успешным. Неудачные вложения во франшизу — это предпринимательский риск.</p>
            </li>
        </ol>
        
        <h2>Внедоговорные экономические риски в договоре коммерческой концессии (франчайзинга)</h2>
        
        <p>С экономической стороны Вы должны учесть многие риски, которые прямо могут не вытекать из договора, но будут сильно влиять на работу предприятия:</p>
        
        <ol>    
            <p><span class="mark">Учесть риск нехватки первоначального капитала</span></p>
            <ul>
                <li>Тщательно изучить бизнес-план, предоставленный контрагентом, и проверить его реалистичность, составить бюджет, заложить резервный фонд</li>
            </ul>
            
            <p><span class="mark">Учесть риск недостаточной поддержки со стороны франчайзера</span></p>
            <ul>
                <li>Изучить, какие виды поддержки предоставляет франчайзер (обучение, маркетинг, операционная поддержка и т.д.)</li>
            </ul>
            
            <p><span class="mark">Учесть риск изменений на рынке и в экономике</span></p>
            <ul>
                <li>Провести анализ макроэкономической ситуации в стране и регионе, оценить потенциальные риски и возможности, быть готовым к внесению изменений в бизнес-план.</li>
            </ul>
        </ol>
        
    </div>
    
</main>

<div class="footer">
    <div class="footer-box"> 
        Сделано в 2025 году | Подготовила проект Команда 3
    </div>
</div>

<script src="/static/script.js" defer></script>

</body>
</html>
